<div class="row">
	<h1>Recently updated articles</h1>
</div>
<div class="row">
  <div class="col m6">
	<%= render template: "articles/_list" %>
  </div>
  <div class="col m6">
    <h3>Gotta Catch 'Em All!!!</h3>
<img src="http://40.media.tumblr.com/ef1458e6ccec9c8bbd4eb42778632fa8/tumblr_niwujb09jL1tj1m9uo1_r1_1280.png" width=500px height=500px>
  </div>
</div>



