<h1>THIS IS YOUR PROFILE</h1>

<% if @articles %>
  <ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
  </ul>
<% end %>
