<h1>History for article '<%= @article.title %>'</h1>
<%= render template: "versions/_list" %>



<!-- <ul>
  <% @versions.each do |version| %>
    <li>
      <%= version.created_at %> - <%= version.author.username %>
    </li>
  <% end %>
</ul> -->
